<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Blog Platform</title>

    <!-- Google Font -->
    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- Navbar -->
    <nav>
        <div class="logo">
            Blog Platform
        </div>

        <div class="nav-links">

            <a href="{{ url_for('home') }}">
                Home
            </a>

            <a href="{{ url_for('create_post') }}">
                Create Post
            </a>

        </div>
    </nav>

    <!-- Main Container -->
    <div class="container">

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}

                {% for msg in messages %}
                    <div class="message">
                        {{ msg }}
                    </div>
                {% endfor %}

            {% endif %}
        {% endwith %}

        <!-- Dynamic Content -->
        {% block content %}
        {% endblock %}

    </div>

</body>
</html>